Django==1.8.1
argparse==1.2.1
azure==0.11.0
cffi==1.0.0
cryptography==0.9
django-toolbelt==0.0.1
enum34==1.0.4
futures==3.0.2
idna==2.0
ipaddress==1.0.7
psycopg2==2.6
pyOpenSSL==0.15.1
pyasn1==0.1.7
pycparser==2.13
python-dateutil==2.4.2
six==1.9.0
wsgiref==0.1.2
